@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

h1 {
  color: #3a4038;
}
.category-tile {
  color: #3a4038;
  padding: 20px;
  border: 2px solid #3a4038;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(208, 253, 214);
  box-shadow: 5px 3px rgb(109, 109, 109);
}

#category-card {
  border: 2px solid white;
  border-radius: 10px;
  transition: border 0.5s, box-shadow 0.5s;
}

#category-card:hover {
  border: 2px solid rgb(182, 142, 89);
  box-shadow: 5px 3px rgb(201, 201, 201);
}

.product-tile {
  border: 2px solid #3a4038;
  border-spacing: 5px;
}

.category-show {
  padding: 20px;
}

.category-show h1 {
  text-decoration: underline;
}

.product-form-link {
  border: 2px solid #3a4038;
  background-color: #94a99e;
  color: #3a4038;
}

#tickmarks {
  display: flex;
}

.new-product-form {
  padding: 20px;
}

.product-show {
  background-color: #f2f5f1;
  color: #3a4038;
}

.review-list-container {
  background-color: #3a4038;
  color: #f2f5f1;
}
.form-container {
  background-color: #94a99e;
  color: #3a4038;
}
.button {
  background-color: #c0a655;
}

.form-field {
  background-color: #f2f5f1;
  color: #3a4038;
}
.form-label {
  color: #3a4038;
}

.review-tile {
  background-color: #f2f5f1;
  color: #3a4038;
}

.button:hover {
  background-color: #8e826d;
}

#category {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
